@import 'react-tippy/dist/tippy.css';
@import "./fonts";
@import "./shame";

* {
  margin: 0px;
  padding: 0px;
}

html, body, #root  {
  height: 100%;
}

body {
  overflow-y: scroll;
  font-family: "Source Sans Pro";
  font-size: 18px;
}
