@import "./colors";
@import "./fonts";

* {
  margin: 0px;
  padding: 0px;
}

html, body, #root  {
  height: 100%;
}

body {
  overflow-y: scroll;
  font-family: "Source Sans Pro";
  font-size: 18px;
}

hr {
  width: 20px;
  margin-top: 33px;
  margin-bottom: 48px;
}

table {
  width: 100%;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 25px 50px 0 rgba(62,62,62,0.15);
  overflow: hidden;
}

table tr:nth-child(even) {
	background-color: var(--white);
}

table tr:nth-child(odd) {
	background-color: #FBFBFB;
}

table th {
  padding: 5px 11px;
  text-align: left;
  font-family: Taviraj;
  color: var(--dark-red);
  background-color: var(--light-red);
  border: 1px solid rgba(141,22,2,0.2);
}

table th:first-child {
  border-top-left-radius: 6px;
}

table th:last-child {
  border-top-right-radius: 6px;
}

table td {
  font-size: 16px;
  line-height: 24px;
  padding: 5px 11px;
	border: 1px solid rgba(166,166,166,0.2);
}

input {
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
}
