@import "./colors";
@import "./fonts";

* {
  margin: 0px;
  padding: 0px;
}

html, body, #root  {
  height: 100%;
}

body {
  overflow-y: scroll;
  font-family: "Source Sans Pro";
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Taviraj";
  margin-bottom: 16px;
}

h1 {
  color: var(--black);
  font-size: 48px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 56px;
}

h2 {
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 40px;
}

h3 {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 32px;
}

h4 {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

h5 {
  color: var(--dark-red);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

h6 {
  color: var(--gray-1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

hr {
  width: 20px;
  margin-top: 33px;
  margin-bottom: 48px;
}

p {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
}

a {
  color: var(--blue);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

ul, ol {
  margin-left: 12px;
  list-style-position: inside;
}

li {
  color: var(--black);
  font-size: 16px;
  line-height: 36px;
}

code {
  padding: 4px 6px;
  margin: 0px 4px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  color: var(--dark-red);
  background-color: var(--light-red);
}

pre {
  border-radius: 8px;
  background-color: var(--black);
}

pre div {
  padding: 10px 0px;
  text-align: right;
}

pre i {
  color: white;
  font-size: 16px;
  margin-right: 31px;
}

pre code {
  display: block;
  color: var(--gray-1);
  background-color: initial;
  padding: 0px 20px 24px 20px;
}

blockquote {
  padding: 8px 30px;
  margin-bottom: 40px;
  background-color: #F8F8F8;
  border-radius: 0 6px 6px 0;
  border-left: 2px solid var(--red);
}

blockquote p {
  margin: 0px;
}

table {
  width: 100%;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 25px 50px 0 rgba(62,62,62,0.15);
  overflow: hidden;
}

table tr:nth-child(even) {
	background-color: var(--white);
}

table tr:nth-child(odd) {
	background-color: #FBFBFB;
}

table th {
  padding: 5px 11px;
  text-align: left;
  font-family: Taviraj;
  color: var(--dark-red);
  background-color: var(--light-red);
  border: 1px solid rgba(141,22,2,0.2);
}

table th:first-child {
  border-top-left-radius: 6px;
}

table th:last-child {
  border-top-right-radius: 6px;
}

table td {
  font-size: 16px;
  line-height: 24px;
  padding: 5px 11px;
	border: 1px solid rgba(166,166,166,0.2);
}

input {
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
}
