.CodeMirror {
  font-size: 16px;
  height: 100%;
  background-color: #2C2C2C;
}

 @media (max-width: 36em) {
   .CodeMirror {
     font-size: 12px;
   }
}

.CodeMirror-gutters {
	width: 40px;
  border: 0px;
  color: #A6A6A6;
  font-size: 12px;
  line-height: 24px;
  background-color: #3E3E3E;
  font-family: "monospace" !important;
}

.CodeMirror-placeholder {
  opacity: 0.6;
  margin-left: 12px !important;
  position: absolute !important;
}

.CodeMirror-code {
  margin-top: 15px !important;
}

.CodeMirror-line {
  padding-left: 15px !important;
}

.CodeMirror-line span[role="presentation"] {
  color: #E7E7E7;
}

.CodeMirror-scroll {
  color: white;
}

.CodeMirror-cursor {
  border-color: #A6A6A6;
  padding-left: 15px !important;
}

.CodeMirror-activeline-background {
  background-color: rgba(255, 255, 255, 0.02);
}

.CodeMirror-matchingbracket {
  color: #EB606B !important;
}

.CodeMirror-linenumber {
  font-size: 14px;
  line-height: 18px;
}

.cm-comment {
  color: rgba(255, 255, 255, 0.2) !important;
}

.cm-atom {
  color: #E7E7E7 !important;
}

.cm-number {
  color: #E7E7E7 !important;
}

.cm-property {
  color: #E7E7E7 !important;
}

.cm-keyword,
.cm-attribute {
  color: #FF6666 !important;
}

.cm-string,
.cm-string-2 {
  color: #7AECD9 !important;
}

.cm-variable {
  color: #E7E7E7 !important;
}

.cm-variable-2 {
  color: #E7E7E7 !important;
}

.cm-def {
  color: #F8F8F8 !important;
}

.cm-bracket {
  color: #d6d5d4;
}

.cm-tag {
  color: #FAC863 !important;
}

.cm-link {
  color: #FCD3CC !important;
}

.cm-error {
  background: #8D1602 !important;
  color: #F8F8F8 !important;
}
