/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"] {
	font-family: monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

  display: block;
  background-color: initial;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #3E3E3E;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7a7a7a;
}

.token.punctuation {
	color: #9f68c4;
}

.token.tag ,
.token.tag .token.punctuation{
	color: #e7e7e7;
}

.token.tag .token.attr-value,
.token.tag .token.attr-value .token.punctuation {
	color: #7AECD9;
}

.token.tag .token.attr-value .token.punctuation:first-child {
	color: #e7e7e7;
}

.token.script,
.token.script .token.punctuation {
	color: #e7e7e7 !important;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #CDD3DE;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #7AECD9;
}

.token.entity,
.token.function-variable {
	color: #72B2FF;
}

.token.operator,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #CDD3DE;
}

.token.atrule,
.token.attr-value,
.token.tag .token.attr-name,
.token.keyword {
	color: #FF6666;
}

.token.class-name {
	color: #CDD3DE;
}

.token.regex,
.token.important,
.token.variable {
	color: #F99157;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
