@font-face {
  font-family: 'icomoon';
  src:  url('/static/fonts/icomoon.eot?mcjwe');
  src:  url('/static/fonts/icomoon.eot?mcjwe#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?mcjwe') format('truetype'),
    url('/static/fonts/icomoon.woff?mcjwe') format('woff'),
    url('/static/fonts/icomoon.svg?mcjwe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-download:before {
  content: "\f019";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-github:before {
  content: "\f09b";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-file:before {
  content: "\f15b";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
